@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600&display=swap');

:root {
  --txt-color: #21243D;
  --orange: #FF6464;
  --blue: #EDF7FA;
  --secondary: #00A8CC;
  --dark: #142850;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

/* global styles */
.container {
  width: 80%;
  margin: 0 auto;
}


.btn {
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  background-color: var(--orange);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


/* home styles */
.home {
  background-color: #fff;
  min-height: 100vh;
  width: 100%;
}

.header {
  padding: 30px 60px;
  display: flex;
  justify-content: end;
}

.header ul {
  display: flex;
  gap: 2rem;
}

.header ul li a {
  color: var(--txt-color);
  font-size: 20px;
  font-weight: 500;
}

.home__content {
  display: flex;
  margin-top: 140px;
}

.home__item1 h1 {
  color: var(--txt-color);
  font-size: 44px;
}

.home__item1 p {
  font-size: 16px;
  font-weight: 400;
  margin: 40px 0;
}


.home__item {
  flex: 1;
}

.home__item2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggler {
  display: none;
}

/* posts styles */
.posts {
  background-color: var(--blue);
  padding: 30px 0;
}

.post__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post__header h3 {
  font-weight: 400;
  color: var(--txt-color);
}

.post__header a {
  color: var(--secondary);
}

.posts__row {
  display: flex;
  gap: 20px;
}

.post {
  padding: 25px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
}

.post h1 {
  color: var(--dark);
  font-size: 26px;
  font-weight: 700;
} 

.post__info {
  display: flex;
  gap: 25px;
  font-size: 18px;
  font-weight: 400;
  margin: 15px 0 10px 0;
  color: var(--txt-color);
}

.post p {
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-color);
}

/* media queries */
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none!important;
  }
  .menu-toggler {
    display: block;
  }

  .home__content {
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .home__item2 {
    margin-bottom: 30px;
  } 

  .home__item {
    text-align: center;
  }

  .home__item h1 {
    font-size: 32px;
  }

  .posts__row {
    flex-direction: column;
  }
}