*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.img {
    max-width: 100%;
}

.img .wrapper {
    background-image: url('./images/3561953.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.hidden {
    display: none;
}

.img .wrapper .modal .modal-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
    align-items: center;
}
.img .wrapper .modal .modal-header span {
    color: #fff;
}
.img .wrapper .modal .modal-header button {
    padding: 5px 15px;
    background-color: #242323;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size:30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img .wrapper .modal .modal-header button:hover {
    background-color: #fff;
    color: #242323;
    transition: 1s ease;
}
.img .wrapper .modal {
    background-color: #242323;
    margin: 50px;
    padding: 20px 0; 
    border-radius: 20px;
}
.img .wrapper .modal .modal-body {
    text-align: center;
    color:#f2f2f2;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap:20px ;
}
.img .wrapper .modal .modal-body h2:hover {
    color:coral;
    transition: all .5s ease;
}

.img .wrapper .bmw button h1{
    position: absolute;
    top: 400px;
    left: 50px;
    justify-content: center;
    cursor: pointer;
    display: flex;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    background-color: #242323;
    border-radius: 8px;
}
.img .wrapper .bmw button h1:hover{
    background-color: #fff;
    color:#242323;
    transition: 1s ease;
}

