@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
.wrapper {
  background-image: url(../images/shubham-dhage-g_WPAiUc1Us-unsplash\ 1.png);
  min-height: 832px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.box {
  width: 90%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper .header {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header__left {
  display: flex;
  gap: 50px;
}
.wrapper .header ul {
  display: flex;
  gap: 36px;
  align-items: center;
}
.wrapper .header ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.wrapper .header ul li a:hover {
  color: #FF6533;
  transition: all 0.4s ease;
}
.wrapper .header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper .header__logo h1 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
.wrapper .header__right button {
  padding: 15px 30px;
  color: #fff;
  background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
  box-shadow: 15px 15px 35px rgba(226, 142, 15, 0.18);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .header__right button:hover {
  cursor: pointer;
  background: linear-gradient(132.95deg, #FF6533 9.31%, #FFC301 79.4%);
}
.wrapper .header__icon {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  display: none;
}
.wrapper .header__icon:hover {
  cursor: pointer;
  color: #FF6533;
  transition: all 0.3s ease;
}
.wrapper .textPage {
  display: flex;
}
.wrapper .textPage__txt {
  flex: 1;
  margin-top: 150px;
}
.wrapper .textPage__txt h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.wrapper .textPage__txt p {
  margin-top: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.wrapper .textPage__txt span {
  gap: 20px;
}
.wrapper .textPage__txt span button {
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
}
.wrapper .textPage__txt span button:hover {
  cursor: pointer;
  background: linear-gradient(132.95deg, #FF6533 9.31%, #FFC301 79.4%);
}
.wrapper .textPage__img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .textPage__img h3 {
  padding: 30px;
  background-color: aqua;
  display: inline;
  justify-content: center;
  border-radius: 10px;
}

.section {
  padding-bottom: 20px;
}
.section .box h2 {
  text-align: center;
  margin-top: 80px;
  font-size: 48px;
}
.section .box h5 {
  margin-top: 24px;
  text-align: center;
  font-size: 20px;
}
.section .box__img {
  display: flex;
  margin-top: 56px;
  justify-content: space-between;
}
.section .box__img h3 {
  text-align: center;
  padding: 10px 0;
  margin: 0 40px;
  flex-direction: column;
  background-color: #FF6533;
}

.imgs {
  background-color: #f4f4f4;
  min-height: 100px;
  display: flex;
  align-items: center;
}
.imgs .box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero .container__btn {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.hero .container__btn p {
  font-size: 40px;
  font-weight: 700;
}
.hero .container__btn button {
  padding: 10px 30px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  background-color: #FF6533;
  border: none;
  border-radius: 10px;
}
.hero .container__btn button:hover {
  opacity: 0.8;
  color: #111;
  cursor: pointer;
}
.hero .container h4 {
  font-size: 20px;
  margin-top: 24px;
}

.img2 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.new__img3 {
  margin-top: 76px;
  min-height: 100vh;
  background-image: url("../images/shubham-dhage-_afH9fjiom0-unsplash 26.png");
  background-position: center;
  background-size: cover;
}
.new .box h3 {
  padding-top: 200px;
  font-size: 48px;
  font-weight: 700;
}
.new .box p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}
.new .box input {
  margin-top: 48px;
  width: 250px;
  min-height: 50px;
  font-size: 20px;
  font-weight: 400;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding-left: 10px;
}
.new .box button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: #FF6533;
  border: none;
  border-radius: 10px;
  color: #fff;
}
.new .box button:hover {
  background-color: coral;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper {
    min-height: 100vh;
    padding-bottom: 20px;
  }
  .wrapper .container .header__left ul {
    display: none;
  }
  .wrapper .container .header__right button {
    display: none;
  }
  .wrapper .container .header__icon {
    display: block;
  }
  .wrapper .container .textPage {
    flex-direction: column;
    gap: 30px;
  }
  .wrapper .container .textPage__txt {
    text-align: center;
  }
  .wrapper .container .textPage__txt span {
    flex-direction: col;
  }
  .section .box__img {
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }
  .imgs .box {
    flex-direction: column;
  }
  .hero .container h4 {
    text-align: center;
  }
  .hero .container__btn {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 20px 0;
  }
  .img2 {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    min-height: 100vh;
    padding-bottom: 20px;
  }
  .wrapper .container .header__left ul {
    display: none;
  }
  .wrapper .container .header__right button {
    display: none;
  }
  .wrapper .container .header__icon {
    display: block;
  }
  .wrapper .container .textPage {
    flex-direction: column;
    gap: 30px;
  }
  .wrapper .container .textPage__txt {
    text-align: center;
  }
  .section .box__img {
    gap: 20px;
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */