* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background-color:brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .container {
    padding: 70px 150px;
    background-color: #fff;
    flex-direction: column;
    display: flex;
    gap: 20px;
    border-radius: 5px;
}
.wrapper .container .input {
    padding: 10px 30px;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid #111;
}
.wrapper .container .btn {
    padding: 10px 30px;
    background-color:brown;
    font-size: 20px;
    margin: 0 50px;
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
.wrapper .container .btn:hover {
    opacity: 0.8;
    transition: all .3s ease;
}
