.btn{
    margin-top: 25px;
    color: #fff;
    background-color:$orenge;
    padding: 13px 22px 12px 19px;
    border: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
span{
    color: $orenge;
}