@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  margin-top: 25px;
  color: #fff;
  background-color: #FF5300;
  padding: 13px 22px 12px 19px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

span {
  color: #FF5300;
}

.header {
  min-height: 100vh;
  background-color: #242526;
}
.header__nav {
  height: 100px;
  background-color: #3A3B3C;
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__nav-menu {
  display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
}
.header__nav li a {
  color: #fff;
}
.header__nav-toggler {
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
.header__nav-toggler:hover {
  color: orange;
}
.header__main {
  margin-top: 55px;
}
.header__main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.header__main-main-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}
.header__main-main-text p {
  margin-top: 25px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__nav-menu {
    display: none;
  }
  .header__nav-toggler {
    display: block;
  }
  .header__main {
    background-color: #242526;
  }
  .header__main-container {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
}
.btn {
  margin-top: 25px;
  color: #fff;
  background-color: #FF5300;
  padding: 13px 22px 12px 19px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

span {
  color: #FF5300;
}

.main {
  background-color: #242526;
  min-height: 100vh;
}
.main__item {
  display: flex;
  flex-direction: column;
}
.main__item-container {
  display: flex;
}
.main__item-item-img {
  margin-top: 140px;
}
.main__item-item-text {
  height: 100vh;
  margin-top: 130px;
}
.main__item-item-text h6 {
  color: white;
  font-size: 39.06px;
  font-weight: 600;
}
.main__item-item-text p {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.main__item2-container {
  flex-direction: column;
}
.main__item2-item-logo {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}
.main__item2-item-logo .icon {
  text-align: center;
  padding-bottom: 21px;
  background-color: #242526;
  height: 200px;
  width: 270px;
}
.main__item2-item-logo .icon i {
  background-color: #7B7B7B;
  border-radius: 50%;
  padding: 23px;
  margin-top: 25px;
  font-size: 25px;
}
.main__item2-item-logo .icon p {
  margin-top: 36px;
  color: #fff;
  padding: 0 46px;
}
.main__item2-item-logo .icon1 i {
  background-color: #FF5300;
  color: #fff;
  box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}
.main__item2-item-logo .icon2 i {
  color: #fff;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}
.main__item2-item-logo .icon3 i {
  color: #fff;
  background-color: #00ACFF;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}
.main__item2-item-logo .icon4 i {
  color: #fff;
  background-color: #242526;
  box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
}

.btn {
  margin-top: 25px;
  color: #fff;
  background-color: #FF5300;
  padding: 13px 22px 12px 19px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

span {
  color: #FF5300;
}

.btn {
  margin-top: 25px;
  color: #fff;
  background-color: #FF5300;
  padding: 13px 22px 12px 19px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

span {
  color: #FF5300;
}

.sidebar {
  background-color: #242526;
  height: 100vh;
}
.sidebar__box-container {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 100vh;
  flex: 1;
}
.sidebar__box-container .text {
  width: 50%;
}
.sidebar__box-container .text p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.sidebar__box-container .text h3 {
  font-size: 39.06px;
  font-weight: 600;
  color: #fff;
}
.sidebar__box-container .number-one .number {
  margin-top: 30px;
}
.sidebar__box-container .number-one .number h6 {
  color: #fff;
  padding: 52px;
  background-color: #3A3B3C;
  font-size: 48px;
  font-weight: 700;
}
.sidebar__box-container .number-one .number h6 p {
  font-size: 20px;
  font-weight: 500;
  color: #7B7B7B;
  padding-top: 18px;
}
.sidebar__box-container .number-two {
  margin-top: 60px;
}
.sidebar__box-container .number-two .number {
  margin-top: 30px;
}
.sidebar__box-container .number-two .number h6 {
  color: #fff;
  padding: 52px;
  background-color: #3A3B3C;
  font-size: 48px;
  font-weight: 700;
}
.sidebar__box-container .number-two .number h6 p {
  font-size: 20px;
  font-weight: 500;
  color: #7B7B7B;
  padding-top: 18px;
}

@media screen and (max-width: 768px) {
  .sideabar {
    height: 100vh;
  }
  .sideabar__box {
    margin-top: 900px;
  }
  .sideabar__box-container-text {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #242526;
  height: 100vh;
}

.main {
  height: 100vh;
  background-color: #000;
}

.sidebar {
  background-color: #242526;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */