.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2 {
  font-family: sans-serif;
  color: coral;
  position: relative;
}

.header h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: coral;
  bottom: 5px;
  left: -60px;
}

.header h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background-color: coral;
  bottom: 5px;
  right: -60px;
}