@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
}

.btn-primary {
  background-color: #23A6F0;
  color: #fff;
}

.btn-primary2 {
  background-color: #23A6F0;
  color: #fff;
  margin-top: 42px;
}

.btn-primary3 {
  background-color: #252B42;
  border: 1px solid #23A6F0;
  color: #23A6F0;
  margin-top: 42px;
}

.class {
  justify-content: center;
}

.btn-outlined {
  background-color: transparent;
  border: 2px solid #23A6F0;
  color: #23A6F0;
}

.btn-rounded {
  border-radius: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.home {
  background-color: #252B42;
  min-height: 100vh;
}
.home .container .header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .container .header__icon {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  align-items: center;
  display: none;
}
.home .container .header__icon2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  align-items: center;
  gap: 20px;
  display: none;
}
.home .container .header__left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.home .container .header__logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.home .container .header__menu {
  display: flex;
  gap: 20px;
}
.home .container .header__menu li a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.home .container .header__menu li a:hover {
  color: #23A6F0;
  transition: all 0.5s ease;
}
.home .container .header__right {
  display: flex;
  align-items: center;
  gap: 45px;
}
.home .container .header__right a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.home .container .header__right a:hover {
  color: #23A6F0;
  transition: all 0.5s ease;
}
.home .container .main__span {
  margin-top: 120px;
  color: #23A6F0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.home .container .main__text {
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 40px;
}
.home .container .main__p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 42px;
}
.home .container .item {
  gap: 30px;
  display: flex;
}
.home .container .item__item1 {
  padding: 35px 40px;
  background-color: #fff;
  width: 328px;
  height: 292px;
  margin: 80px 0 100px 0;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.home .container .item__item1 span {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  display: block;
  color: #252B42;
}
.home .container .item__item1 hr {
  margin-top: 20px;
  width: 50px;
  height: 4px;
  background-color: #E74040;
}
.home .container .item__item1 p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}
.home .container .item {
  margin-top: 130px;
  gap: 30px;
  display: flex;
}
.home .container .item__item2 {
  padding: 35px 40px;
  background-color: #23A6F0;
  width: 328px;
  height: 292px;
  margin: 80px 0 100px 0;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.home .container .item__item2 span {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  display: block;
  color: #fff;
}
.home .container .item__item2 hr {
  margin-top: 20px;
  width: 50px;
  height: 4px;
  background-color: #E74040;
}
.home .container .item__item2 p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.main .container .content {
  height: 674px;
  display: flex;
  gap: 140px;
  align-items: center;
  justify-content: center;
}
.main .container .content__text hr {
  width: 90px;
  height: 7px;
  background-color: #E74040;
}
.main .container .content__text h6 {
  margin-top: 35px;
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}
.main .container .content__text p {
  margin-top: 35px;
  color: #737373;
}
.main .container .content__text button {
  margin-top: 35px;
  color: #23A6F0;
  border: none;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.imgs {
  min-height: 1128px;
}
.imgs .container .contact__text {
  padding-top: 112px;
}
.imgs .container .contact__text span {
  color: #23A6F0;
  font-size: 14px;
  font-weight: 700;
}
.imgs .container .contact__text h6 {
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
  margin-top: 10px;
}
.imgs .container .contact__text p {
  margin-top: 10px;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
}
.imgs .container .contact__imgs {
  margin-top: 112px;
  gap: 30px;
  display: flex;
}

.next .container .box__text span {
  font-size: 14px;
  font-weight: 700;
  color: #23A6F0;
}
.next .container .box__text h6 {
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}
.next .container .box__text p {
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}
.next .container .box__img {
  margin: 96px 0;
}

.card {
  min-height: 594px;
}
.card .container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card .container .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card .container .hero__text {
  margin-top: 160px;
}
.card .container .hero__text span {
  font-size: 24px;
  font-weight: 700;
  color: #23A6F0;
}
.card .container .hero__text h6 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #252B42;
}
.card .container .hero__text p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #737373;
}
.card .container .hero__inputBox input {
  margin-top: 80px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  width: 600px;
  padding: 20px;
}
.card .container .hero__inputBox button {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #23A6F0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer {
  height: 338px;
  background-color: #252B42;
}
.footer .container .row {
  display: flex;
  justify-content: space-around;
}
.footer .container .row__company h6 {
  padding-top: 80px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.footer .container .row__company p {
  color: #fff;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
}
.footer .container .row__company i {
  margin-top: 26px;
  font-size: 30px;
  color: #23A6F0;
}

.finish .container p {
  text-align: center;
  padding: 25px 0 27px 0;
  background-color: #FAFAFA;
  font-style: 14px;
  font-weight: 700;
  color: #737373;
}

@media screen and (max-width: 900px) {
  .home .container .header__menu {
    display: none;
  }
  .home .container .header__icon {
    display: inline;
  }
  .item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .main .container .content {
    flex-direction: column-reverse;
    margin-top: 200px;
    text-align: center;
    justify-content: center;
  }
  .imgs .container .contact__text {
    text-align: center;
  }
  .imgs .container .contact__imgs {
    flex-direction: column;
    text-align: center;
  }
  .next .container .box__text {
    text-align: center;
  }
  .next .container .box__img {
    flex-direction: column;
    text-align: center;
  }
  .footer {
    min-height: 1120px;
    text-align: center;
  }
  .footer .container .row {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .home .container .header__icon {
    display: none;
  }
  .home .container .header__right {
    display: none;
  }
  .home .container .header__icon2 {
    display: inline;
  }
  .item {
    flex-direction: column;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */