* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.wrapper .container {
    margin: 10px auto;
}
.wrapper .container .input {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #f5e4b7;
}
.wrapper .container .btn {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color:coral;
    outline: none;
    cursor: pointer;
}
.wrapper .container .btn:hover {
    background-color: red;
    color: #FFF;
    transition: all .5s ease;
}
.wrapper .txt {
    list-style: none;
    background-color: #f5e4b7;
    text-align: center;
    border-radius: 3px;
    width: 500px;
    height: 550px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper .txt .btn {
    background-color: coral;
    position: absolute;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    top: 490px;
    left: 300px;
}
.wrapper .txt .btn:hover {
    background-color: red;
    transition: all .5s ease;
}