*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(90deg , red , blue);
    color: white;
}
h1 span{
    color: #fff;
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {
    h1{
        text-align: center;
        flex-wrap: wrap;
    }
}